.header {
  padding:  40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 82px;
  height: 60px;
  cursor: pointer;
}

.flex_btn {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.request_btn {
  border: 2px solid #882FAE;
  padding: 10px 20px;
  border-radius: 50px;
  color: #882FAE;
  transition: all 0.5s ease-out;
  animation: amin 0.3s ease;
}

.request_btn:hover {
  background: #882FAE;
  color: #ffffff;
}

[data-testid="MenuIcon"], [data-testid="CloseIcon"] {
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .logo {
    width: 20%;
    height: 20%;
  }
}