* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}

@media screen and(max-width: 480px) {
  .App {
    width: 100%;
    padding: 100px 120px;
  }
}
